<div>
  <h3>Cotações</h3>

  <nz-divider></nz-divider>

  <div>
    <nz-list nzBordered>
      <nz-list-item>
        <a href="" style="color: #000; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
          <span>Cotação de teste</span>
        </a>
      </nz-list-item>
      <nz-list-item>
        <a href="" style="color: #000; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
          <span>Instalação Wiki Premium + Tomada Força</span>
        </a>
      </nz-list-item>
      <nz-list-item>
        <a href="" style="color: #000; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
          <span>Cotação serviços Continental</span>
        </a>
      </nz-list-item>
      <nz-list-item>
        <a href="" style="color: #000; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
          <span>PRODUCT TEST</span>
        </a>
      </nz-list-item>
    </nz-list>
  </div>
</div>
