<div>
  <!-- Detalhes Pessoais -->
  <div>
    <h3>Detalhes Pessoais</h3>

    <nz-divider nzOrientation="left"></nz-divider>
    <div nz-row [nzGutter]="16">
      <div nz-col class="gutter-row" [nzSpan]="8">
        <div class="inner-box" style="border: 1px solid red; height: 80px;">
          <img src="#">
        </div>
      </div>
      <div nz-col class="gutter-row" [nzSpan]="16">
        <div class="inner-box">
          <div nz-row>
            <div nz-col class="gutter-row" [nzSpan]="11">
              <div>Nome</div>
            </div>
            <div nz-col class="gutter-row" [nzSpan]="12">
              <div>Israel</div>
            </div>
          </div>hat

          <div nz-row>
            <div nz-col class="gutter-row" [nzSpan]="11">
              <div>Sobrenome</div>
            </div>
            <div nz-col class="gutter-row" [nzSpan]="12">
              <div>Sandrino</div>
            </div>
          </div>
        </div>
      </div>
    </div>

  <!-- Detalhes da Empresa -->
  <div>
    <h3>Detalhes da Empresa</h3>
  </div>
</div>
