<div>
  <h3>Chamados</h3>

  <div>
    <app-toolbar
      [showModalButton]="true"
      [showSelectOptions]="true"
      [showExportButton]="true"
      [modalButtonName]="'Novo Chamado'"
      [modalTitle]="'Adicionar Novo Chamado'"
    ></app-toolbar>
  </div>

  <nz-divider></nz-divider>

  <div>
    <nz-list nzBordered>
      <nz-list-item>
        <a href="" style="color: #000; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
          <span>Conferência de comunicação Ana Maria Siliprandi</span>
        </a>
      </nz-list-item>
      <nz-list-item>
        <a href="" style="color: #000; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
          <span>Vinculação de Projeto</span>
        </a>
      </nz-list-item>
      <nz-list-item>
        <a href="" style="color: #000; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
          <span>Novo assinante ativo (primeiro pagamento liquidado)</span>
        </a>
      </nz-list-item>
      <nz-list-item>
        <a href="" style="color: #000; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
          <span>Relatório tecnico - Funcionamento Cliente L & L Transportes</span>
        </a>
      </nz-list-item>
    </nz-list>
  </div>
</div>
