<div>
  <h3>Contratos</h3>

  <nz-divider></nz-divider>

  <div>
    <nz-list nzBordered>
      <nz-list-item>
        <a href="" style="color: #000; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
          <span>Modelo - Contrato (Não formalizado)</span>
        </a>
      </nz-list-item>
      <nz-list-item>
        <a href="" style="color: #000; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
          <span>Teste Tiago Contrato</span>
        </a>
      </nz-list-item>
    </nz-list>
  </div>
</div>
