<div>
  <h3>Faturas</h3>

  <nz-divider></nz-divider>

  <div>
    <nz-list nzBordered>
      <nz-list-item>
        <a href="" style="color: #000; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
          <span>Retirada de equipamento Premium</span>
        </a>
      </nz-list-item>
      <nz-list-item>
        <a href="" style="color: #000; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
          <span>RETIRADA DE EQUIPAMENTO SMART</span>
        </a>
      </nz-list-item>
      <nz-list-item>
        <a href="" style="color: #000; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
          <span>MANUTENÇÃO COMUNICAÇÃO</span>
        </a>
      </nz-list-item>
      <nz-list-item>
        <a href="" style="color: #000; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
          <span>Cotação Cotação serviços Continental</span>
        </a>
      </nz-list-item>
    </nz-list>
  </div>
</div>
