<div>
  <div class="site-page-header-ghost-wrapper">
    <nz-page-header nzBackIcon [nzGhost]="false">
      <nz-page-header-title>Equipamentos</nz-page-header-title>
    </nz-page-header>
  </div>

  <div>
    <nz-tabset>
      <nz-tab nzTitle="Resumo">
        <!-- Nome Equipamento-->
        <div nz-row>
          <div nz-col nzSpan="12">
            <span class="cotacao-view__resumo__info-subtitle">Nome Equipamento</span>
          </div>
          <div nz-col nzSpan="12">
            <span>Smart0862</span>
          </div>
        </div>
        <nz-divider></nz-divider>
        <!-- Data em Serviço -->
        <div nz-row>
          <div nz-col nzSpan="12">
            <span class="cotacao-view__resumo__info-subtitle">Data em Serviço</span>
          </div>
          <div nz-col nzSpan="12">
            <span>-</span>
          </div>
        </div>
        <nz-divider></nz-divider>
        <!-- Mensalidade -->
        <div nz-row>
          <div nz-col nzSpan="12">
            <span class="cotacao-view__resumo__info-subtitle">Mensalidade</span>
          </div>
          <div nz-col nzSpan="12">
            <span>0</span>
          </div>
        </div>
        <nz-divider></nz-divider>
        <!-- Nome Produto -->
        <div nz-row>
          <div nz-col nzSpan="12">
            <span class="cotacao-view__resumo__info-subtitle">Nome Produto</span>
          </div>
          <div nz-col nzSpan="12">
            <span>WIKI_SMART - COMPACT</span>
          </div>
        </div>
        <nz-divider></nz-divider>
        <!-- Número Etiqueta -->
        <div nz-row>
          <div nz-col nzSpan="12">
            <span class="cotacao-view__resumo__info-subtitle">Número Etiqueta</span>
          </div>
          <div nz-col nzSpan="12">
            <span>SEU9C86</span>
          </div>
        </div>
        <nz-divider></nz-divider>
        <!-- Número Série -->
        <div nz-row>
          <div nz-col nzSpan="12">
            <span class="cotacao-view__resumo__info-subtitle">Número Série</span>
          </div>
          <div nz-col nzSpan="12">
            <span>56156240</span>
          </div>
        </div>
        <nz-divider></nz-divider>
        <!-- Número Série -->
        <div nz-row>
          <div nz-col nzSpan="12">
            <span class="cotacao-view__resumo__info-subtitle">Contrato</span>
          </div>
          <div nz-col nzSpan="12">
            <span>-</span>
          </div>
        </div>
        <nz-divider></nz-divider>
        <!-- Responsável -->
        <div nz-row>
          <div nz-col nzSpan="12">
            <span class="cotacao-view__resumo__info-subtitle">Responsável</span>
          </div>
          <div nz-col nzSpan="12">
            <span>Carlos Eduardo Amaral Lopes</span>
          </div>
        </div>
        <nz-divider></nz-divider>
        <!-- Status -->
        <div nz-row>
          <div nz-col nzSpan="12">
            <span class="cotacao-view__resumo__info-subtitle">Status</span>
          </div>
          <div nz-col nzSpan="12">
            <span>Ativo</span>
          </div>
        </div>
      </nz-tab>

      <nz-tab nzTitle="Atualizações">
        <nz-timeline>
          <nz-timeline-item>Moni - Assistente Virtual created 24-02-2023 14:32:34</nz-timeline-item>
          <nz-timeline-item>Moni - Assistente Virtual created 24-02-2023 14:32:34</nz-timeline-item>
          <nz-timeline-item>Moni - Assistente Virtual created 24-02-2023 14:32:34</nz-timeline-item>
          <nz-timeline-item>Moni - Assistente Virtual created 24-02-2023 14:32:34</nz-timeline-item>
          <nz-timeline-item>Moni - Assistente Virtual created 24-02-2023 14:32:34</nz-timeline-item>
          <nz-timeline-item>Moni - Assistente Virtual created 24-02-2023 14:32:34</nz-timeline-item>
          <nz-timeline-item>Moni - Assistente Virtual created 24-02-2023 14:32:34</nz-timeline-item>
        </nz-timeline>
      </nz-tab>
    </nz-tabset>
  </div>
</div>
