<div>
  <div class="site-page-header-ghost-wrapper">
    <nz-page-header nzBackIcon [nzGhost]="false">
      <nz-page-header-title>Faturas</nz-page-header-title>
    </nz-page-header>
  </div>

  <div>
    <nz-tabset>
      <nz-tab nzTitle="Resumo">
        <!-- Título -->
        <div nz-row>
          <div nz-col nzXs="12" nzSm="8" nzMd="6" nzLg="6" nzXl="5" nzXXl="4">
            <span class="fatura-view__resumo__info-subtitle">Título</span>
          </div>
          <div nz-col nzXs="12" nzSm="8" nzMd="6" nzLg="6" nzXl="5" nzXXl="4">
            <span>Retirada de equipamento Premium</span>
          </div>
        </div>
        <nz-divider></nz-divider>
        <!-- Data-criação -->
        <div nz-row>
          <div nz-col nzXs="12" nzSm="8" nzMd="6" nzLg="6" nzXl="5" nzXXl="4">
            <span class="fatura-view__resumo__info-subtitle">Data Criação</span>
          </div>
          <div nz-col nzSpan="12">
            <span>24-02-2023 14:32</span>
          </div>
        </div>
        <nz-divider></nz-divider>
        <!-- Data entrega -->
        <div nz-row>
          <div nz-col nzXs="12" nzSm="8" nzMd="6" nzLg="6" nzXl="5" nzXXl="4">
            <span class="fatura-view__resumo__info-subtitle">Data de Entrega</span>
          </div>
          <div nz-col nzSpan="12">
            <span>-</span>
          </div>
        </div>
        <nz-divider></nz-divider>
        <!-- Descrição -->
        <div nz-row>
          <div nz-col nzSpan="24">
            <span class="fatura-view__resumo__info-subtitle">Descrição</span>
            <p class="fatura-view__resumo__descricao-solucao">
              Retirada de equipamento Premium
            </p>
          </div>
        </div>
        <nz-divider></nz-divider>
        <!-- Endereço entrega -->
        <div nz-row>
          <div nz-col nzXs="12" nzSm="8" nzMd="6" nzLg="6" nzXl="5" nzXXl="4">
            <span class="fatura-view__resumo__info-subtitle">Endereço Entrega</span>
          </div>
          <div nz-col nzSpan="12">
            <span>-</span>
          </div>
        </div>
        <nz-divider></nz-divider>
        <!-- Endereço faturamento -->
        <div nz-row>
          <div nz-col nzXs="12" nzSm="8" nzMd="6" nzLg="6" nzXl="5" nzXXl="4">
            <span class="fatura-view__resumo__info-subtitle">Endereço Faturamento</span>
          </div>
          <div nz-col nzSpan="12">
            <span>-</span>
          </div>
        </div>
        <nz-divider></nz-divider>
        <!-- Idenficação do veículo -->
        <div nz-row>
          <div nz-col nzXs="12" nzSm="8" nzMd="6" nzLg="6" nzXl="5" nzXXl="4">
            <span class="fatura-view__resumo__info-subtitle">Idenficação do veículo</span>
          </div>
          <div nz-col nzSpan="12">
            <span>ACS1542</span>
          </div>
        </div>
        <nz-divider></nz-divider>
        <!-- No. Fatura -->
        <div nz-row>
          <div nz-col nzXs="12" nzSm="8" nzMd="6" nzLg="6" nzXl="5" nzXXl="4">
            <span class="fatura-view__resumo__info-subtitle">No. Fatura</span>
          </div>
          <div nz-col nzSpan="12">
            <span>FAT4562</span>
          </div>
        </div>
        <nz-divider></nz-divider>
        <!-- Nome Cliente -->
        <div nz-row>
          <div nz-col nzXs="12" nzSm="8" nzMd="6" nzLg="6" nzXl="5" nzXXl="4">
            <span class="fatura-view__resumo__info-subtitle">Nome Cliente</span>
          </div>
          <div nz-col nzSpan="12">
            <span>Wikidados - Soluções e Desenvolvimento Ltda</span>
          </div>
        </div>
        <nz-divider></nz-divider>
        <!-- Nome Contato -->
        <div nz-row>
          <div nz-col nzXs="12" nzSm="8" nzMd="6" nzLg="6" nzXl="5" nzXXl="4">
            <span class="fatura-view__resumo__info-subtitle">Nome Contato</span>
          </div>
          <div nz-col nzSpan="12">
            <span>Airton Gonçalves</span>
          </div>
        </div>
        <nz-divider></nz-divider>
        <!-- Pedido de Vendas -->
        <div nz-row>
          <div nz-col nzXs="12" nzSm="8" nzMd="6" nzLg="6" nzXl="5" nzXXl="4">
            <span class="fatura-view__resumo__info-subtitle">Pedido de Vendas</span>
          </div>
          <div nz-col nzSpan="12">
            <span>Retirada de equipamento Premium</span>
          </div>
        </div>
        <nz-divider></nz-divider>
        <!-- Responsável -->
        <div nz-row>
          <div nz-col nzXs="12" nzSm="8" nzMd="6" nzLg="6" nzXl="5" nzXXl="4">
            <span class="fatura-view__resumo__info-subtitle">Responsável</span>
          </div>
          <div nz-col nzSpan="12">
            <span>Equipe Cascavel</span>
          </div>
        </div>
        <nz-divider></nz-divider>
        <!-- Solução -->
        <div nz-row>
          <div nz-col nzXs="12" nzSm="8" nzMd="6" nzLg="6" nzXl="5" nzXXl="4">
            <span class="fatura-view__resumo__info-subtitle">Solução</span>
          </div>
          <div nz-col nzSpan="12">
            <span>-</span>
          </div>
        </div>
        <nz-divider></nz-divider>
        <!-- Status -->
        <div nz-row>
          <div nz-col nzXs="12" nzSm="8" nzMd="6" nzLg="6" nzXl="5" nzXXl="4">
            <span class="fatura-view__resumo__info-subtitle">Status</span>
          </div>
          <div nz-col nzSpan="12">
            <span>Garantia</span>
          </div>
        </div>
        <nz-divider></nz-divider>
        <!-- Vencimento -->
        <div nz-row>
          <div nz-col nzXs="12" nzSm="8" nzMd="6" nzLg="6" nzXl="5" nzXXl="4">
            <span class="fatura-view__resumo__info-subtitle">Vencimento</span>
          </div>
          <div nz-col nzSpan="12">
            <span>24-02-2023</span>
          </div>
        </div>
      </nz-tab>

      <nz-tab nzTitle="Atualizações">
        <nz-timeline>
          <nz-timeline-item>Moni - Assistente Virtual created 24-02-2023 14:32:34</nz-timeline-item>
        </nz-timeline>
      </nz-tab>
    </nz-tabset>
  </div>
</div>
