<div>
  <h3>Projetos</h3>

  <nz-divider></nz-divider>

  <div>
    <nz-list nzBordered>
      <nz-list-item>
        <a href="" style="color: #000; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
          <span>Health Check - Produtos e Serviços</span>
        </a>
      </nz-list-item>
      <nz-list-item>
        <a href="" style="color: #000; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
          <span>Modelo - Projetos Ativos</span>
        </a>
      </nz-list-item>
      <nz-list-item>
        <a href="" style="color: #000; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
          <span>APP Wikidados - Atualização e Correções</span>
        </a>
      </nz-list-item>
      <nz-list-item>
        <a href="" style="color: #000; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
          <span>Planejamento Interno - Passageiros</span>
        </a>
      </nz-list-item>
    </nz-list>
  </div>
</div>
