<div>
  <div class="site-page-header-ghost-wrapper">
    <nz-page-header nzBackIcon [nzGhost]="false">
      <nz-page-header-title>Contratos</nz-page-header-title>
    </nz-page-header>
  </div>

  <div>
    <nz-tabset>
      <nz-tab nzTitle="Resumo">
        <!-- Título -->
        <div nz-row>
          <div nz-col nzSpan="12">
            <span class="contrato-view__resumo__info-subtitle">Título</span>
          </div>
          <div nz-col nzSpan="12">
            <span>Modelo - Contrato (Não Formalizado)</span>
          </div>
        </div>
        <nz-divider></nz-divider>
        <!-- Duração de Contrato -->
        <div nz-row>
          <div nz-col nzSpan="12">
            <span class="contrato-view__resumo__info-subtitle">Duração de Contrato</span>
          </div>
          <div nz-col nzSpan="12">
            <span>00 (zero) meses</span>
          </div>
        </div>
        <nz-divider></nz-divider>
        <!-- Mensalidade por Unidade -->
        <div nz-row>
          <div nz-col nzSpan="12">
            <span class="contrato-view__resumo__info-subtitle">Mensalidade por Unidade</span>
          </div>
          <div nz-col nzSpan="12">
            <span>0</span>
          </div>
        </div>
        <nz-divider></nz-divider>
        <!-- Responsável -->
        <div nz-row>
          <div nz-col nzSpan="12">
            <span class="contrato-view__resumo__info-subtitle">Responsável</span>
          </div>
          <div nz-col nzSpan="12">
            <span>Leonardo Almeida</span>
          </div>
        </div>
        <nz-divider></nz-divider>
        <!-- Total de Ativos -->
        <div nz-row>
          <div nz-col nzSpan="12">
            <span class="contrato-view__resumo__info-subtitle">Total de Ativos</span>
          </div>
          <div nz-col nzSpan="12">
            <span>0 (zero)</span>
          </div>
        </div>
        <nz-divider></nz-divider>
        <!-- Veículo de Mesma Propriedade -->
        <div nz-row>
          <div nz-col nzSpan="12">
            <span class="contrato-view__resumo__info-subtitle">Veículo de Mesma Propriedade</span>
          </div>
          <div nz-col nzSpan="12">
            <span>NÃO</span>
          </div>
        </div>
        <nz-divider></nz-divider>
        <!-- Veículo[Placa] -->
        <div nz-row>
          <div nz-col nzSpan="12">
            <span class="contrato-view__resumo__info-subtitle">Veículo(s) [Placa]</span>
          </div>
          <div nz-col nzSpan="12">
            <span>-</span>
          </div>
        </div>
      </nz-tab>

      <nz-tab nzTitle="Atualizações">
        <nz-timeline>
          <nz-timeline-item>Create a services site 2015-09-01</nz-timeline-item>
        </nz-timeline>
      </nz-tab>
    </nz-tabset>
  </div>
</div>
